In [22]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [23]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [24]:
soup=BeautifulSoup(page.text,'lxml')

In [25]:
table_body=soup.find('table')
row_data=[]

In [33]:
for row in table_body.find_all('tr'):
    col=row.find_all('td')
    col=[ele.text.strip()for ele in col]
    row_data.append(col)
df=pd.DataFrame(row_data)
df
header=[]
for i in soup.find_all("th"):
    col_name=i.text.strip().lower().replace(" ","_")
    header.append(col_name)
results=pd.DataFrame(row_data,columns = header)
results

     pos                team\nt matches\nm points\np rating\nr
0   None                   None       None      None      None
1      1        New Zealand\nNZ         20     2,448       122
2      2           England\nENG         32     3,793       119
3      3         Australia\nAUS         31     3,475       112
4      4             India\nIND         38     4,162       110
..   ...                    ...        ...       ...       ...
58    16              Oman\nOMA         27       777        29
59    17           Namibia\nNAM         13       268        21
60    18             Nepal\nNEP         17       308        18
61    19     United States\nUSA         14       232        17
62    20  Papua New Guinea\nPNG         23       178         8

[63 rows x 5 columns]